<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Account Confirmation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<nav>
    <a href="http://localhost:2053/">Home</a>
    <a href="http://localhost:2053/dashboard">Dashboard</a>
    <a href="http://localhost:2053/send-money">Send Money</a>
</nav>

<div class="content-wrapper">
    <div class="content">
        <h1>Account Confirmation</h1>
        <p>A verification has been sent to your email.</p>
        <p>Please click the activation link in the email to enable your account.</p>
        <p>The link will expire in 15 minutes!</p>
    </div>
</div>

</body>
</html>