<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <a href="http://localhost:2053/">Home</a>
        <a href="http://localhost:2053/dashboard">Dashboard</a>
        <a href="http://localhost:2053/send-money">Send Money</a>
    </nav>

    <h1>Dashboard</h1>

    <div id="user-dashboard">
        <table>
            <tr>
                <td>Username |</td>
                <td>First Name |</td>
                <td>Last Name |</td>
                <td>Phone |</td>
                <td>Role</td>
                <td>Balance |</td>
                <td>Transactions</td>
            </tr>
            <tr>
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.balance}"></td>
                <td th:text="${transactionsCount}"></td>
            </tr>
        </table>
    </div>

    <div id="all-transactions">
        <h2>Transactions</h2>
        <table>
            <tr>
                <td>Transaction ID |</td>
                <td>Sender |</td>
                <td>Receiver |</td>
                <td>Amount |</td>
                <td>Time</td>
            </tr>
            <tr th:each="transaction: ${transactions}">
                <td th:text="${transaction.id}"></td>
                <td th:text="${transaction.sender}"></td>
                <td th:text="${transaction.receiver}"></td>
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.time}"></td>
            </tr>
        </table>
    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>