<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

    <nav class="nav">
        <a href="http://localhost:2053/">Home</a>
        <a href="http://localhost:2053/dashboard">Dashboard</a>
        <a href="http://localhost:2053/send-money">Send Money</a>
    </nav>

    <div class="content-wrapper">
        <div class="content">
            <h1>Webank</h1>
            <p>Welcome to Webank.</p>

            <div class="registration-form">
                <h2>Create an account</h2>
                <form action="#" th:action="@{/register}" method="post" th:object="${user}">
                    <p>Username: <input type="text" th:field="*{username}"></p>
                    <p>Password: <input type="password" th:field="*{password}"></p>
                    <p>First name: <input type="text" th:field="*{firstName}"></p>
                    <p>Last name: <input type="text" th:field="*{lastName}"></p>
                    <p>Phone Number: <input type="text" th:field="*{phoneNumber}"></p>
                    <button class="reg" type="submit">Sign up</button>
                
                </form>
            </div>
        </div>
    </div>

</body>
</html>