<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration Complete</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<nav>
    <a href="http://localhost:2053/">Home</a>
    <a href="http://localhost:2053/dashboard">Dashboard</a>
    <a href="http://localhost:2053/send-money">Send Money</a>
</nav>

<div class="content-wrapper">
    <div class="content">
        <h1>Registration Complete</h1>
        <p>Your account is now enabled!</p>
        <p>You may now login and use Webank.</p>

        <p>Click <a href="http://localhost:2053/dashboard">here</a> to access your dashboard.</p>
        <p>Click <a href="http://localhost:2053/send-money">here</a> to send another user money.</p>

    </div>
</div>

</body>
</html>