<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Send Money</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

    <nav>
        <a href="http://localhost:2053/">Home</a>
        <a href="http://localhost:2053/dashboard">Dashboard</a>
        <a href="http://localhost:2053/send-money">Send Money</a>
    </nav>

    <div class="content-wrapper">

        <div class="content">
            <h1>Send Money</h1>

        <div id="send-money-form">
            <h2>Send money to another account</h2>
            <form action="#" th:action="@{/send-money}" method="post" th:object="${transaction}">
                <p>Username: <input type="text" th:field="*{receiver}"></p>
                <p>Amount: <input type="text" th:field="*{amount}"></p>
                <button type="submit">Send</button>
            </form>
            <form th:action="@{/logout}" method="post">
                <button class="reg" type="submit" value="Sign Out">Logout</button>
            </form>
        </div>
        </div>
    </div>

</body>
</html>